@import '../components/input-element.css';
@import '../components/product-item.css';

.intro {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.intro__wrapper {
  color: hsl(var(--white-color-hsl));

  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 30px;
}

.intro__title {
  font-family: var(--primary-title-font-family);
  font-size: var(--primary-title-font-size);
}

.intro__subtitle {
  font-family: var(--secondary-title-font-family);
  font-size: var(--secondary-title-font-size);

  margin-bottom: 10px;
}

.intro .input-element {
  font-size: 30px;
}

.intro-search {
  display: flex;
  flex-direction: column;

  gap: 10px;
}

.intro-search__input {
  display: flex;
  align-items: center;

  gap: 25px;
}

.intro-search-recommendation {
  --height: 150px;

  position: absolute;

  opacity: 0;
  visibility: hidden;

  max-width: 550px;
  max-height: var(--height);

  overflow: auto;

  transition: height 200ms ease-out, opacity 200ms ease-out, visibility 200ms ease-out;
}

.intro-search-recommendation::-webkit-scrollbar {
  background-color: transparent;

  width: 10px;
  height: 10px;
}

.intro-search-recommendation::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary-yellow-color-hsl));

  border-radius: 100px;
}

.intro-search-recommendation._loaded {
  position: static;

  height: 0;
}

.intro-search-recommendation._loaded._active {
  height: calc(var(--height) + 5px);

  opacity: 1;
  visibility: visible;
}

.intro-search-recommendation-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  gap: 10px;

  padding: 5px;
}

.intro-search-recommendation-item button {
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background-color: hsla(var(--white-color-hsl), .8);

  border-radius: var(--primary-border-radius);

  padding: 10px 20px;

  font-size: 18px;

  transition: background-color 150ms ease-out;
}

.intro-search-recommendation-item button:focus {
  background-color: hsl(var(--white-color-hsl));
}

.top-year-product-slider {
  display: flex;
  align-items: center;

  gap: 45px;
}

.top-year-product-slider-container {
  overflow: hidden;

  max-width: calc(300px * 3 + 60px * 2);
}

.top-year-product-slider-container-track {
  display: flex;
  gap: 60px;

  transition: transform 600ms ease;
}

.top-year-product-slider-container-track-item {
  flex: 0 0 auto;
}

.top-year-product-slider-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-year-product-slider-button button {
  cursor: pointer;
  border: none;
  background-color: transparent;


  transition: background-color 150ms ease-out;
}


.top-year-product-slider-button._arrow-right button {
  transform: rotate(180deg);
}

@media screen and (min-width: 992px) {
  .intro-search-recommendation-item button:hover {
    background-color: hsl(var(--white-color-hsl));
  }
}

