.catalog__title {
  margin-bottom: 20px;
}

.catalog-filters-button {
  margin-bottom: 60px;
}

.catalog-list {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
  gap: 50px;
}

