._form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  border-radius: var(--primary-border-radius);
  border: 1px solid hsla(var(--black-color-hsl), .3);

  padding: 25px 45px;

  background-color: hsl(var(--white-color-hsl));
}

._form-title {
  margin-bottom: 15px;

  font-family: var(--primary-title-font-family);
  font-size: var(--secondary-title-font-size);

  text-align: center;
}

._form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

._form-inputs-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

._form-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

._form-controls._flex-row {
  flex-direction: row;
}

._form-extra-info {
  display: flex;
  flex-direction: column;
  gap: 20px;

  font-size: 18px;
}

._info-link {
  font-size: 18px;
}

._info-link a {
  color: hsl(var(--primary-yellow-color-hsl));
}
