.input-element {
  position: relative;
  z-index: 10;

  display: flex;
  align-items: center;
  background-color: hsl(var(--white-color-hsl));
  color: hsl(var(--black-color-hsl));

  width: 100%;
  max-width: 500px;

  /*flex: 0 1 500px;*/

  border: 1px solid hsla(var(--black-color-hsl), .2);
  border-radius: var(--primary-border-radius);

  padding: 0 5px;

  font-size: var(--secondary-text-font-size);
}

.input-element:focus-within {
  outline: var(--primary-yellow-outline);
}

.input-element-icon {
  padding: 15px 10px;

  cursor: pointer;

  border-radius: inherit;

  transition: background-color 100ms ease;
}

.input-element-icon:active {
  background-color: hsla(var(--black-color-hsl), .15);
}

.input-element-icon svg {
  width: 30px;
  height: 30px;
}

.input-element-input {
  position: relative;

  width: 100%;

  display: flex;
  align-items: center;
}

.input-element-input input {
  width: 100%;

  border: none;
  background-color: transparent;

  padding: 15px 5px;
}

.input-element-input input::-webkit-inner-spin-button, .input-element-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-element-input input:focus {
  outline: none;
}

.input-element-input label {
  position: absolute;
  top: 50%;
  left: 7px;

  user-select: none;
  pointer-events: none;

  color: hsla(var(--black-color-hsl), .7);

  transform: translate(0, -50%);

  transition: left 200ms ease, opacity 200ms ease, visibility 200ms ease;
}

._not-empty .input-element-input label {
  left: 70px;

  opacity: 0;
  visibility: hidden;
}

.input-element-button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 15px 10px;

  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: inherit;

  transition: background-color 100ms ease;
}

.input-element-button[data-input-element-hide-password] ._hide-password-icon {
  display: none;
}

._show-password .input-element-button[data-input-element-hide-password] ._hide-password-icon {
  display: block;
}

._show-password .input-element-button[data-input-element-hide-password] ._show-password-icon {
  display: none;
}

.input-element-button[data-input-element-toggle-select-menu-button] svg {
  transition: transform 150ms ease;
}

._open-select-menu .input-element-button[data-input-element-toggle-select-menu-button] svg {
  transform: rotate(180deg);
}

.input-element-button:focus {
  outline: none;
  background-color: hsla(var(--black-color-hsl), .1);
}

.input-element-button:active {
  background-color: hsla(var(--black-color-hsl), .15);
}

.input-element-button span {
  display: inline-block;

  width: 30px;
  height: 30px;
}

.input-element-button span._burger-menu {
  width: 30px;
  height: 23px;
}

.input-element-select-menu {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;

  width: 100%;

  opacity: 0;
  visibility: hidden;

  font-size: 20px;

  background-color: hsl(var(--base-primary-yellow-color), 95%);

  border-radius: var(--primary-border-radius);

  box-shadow: 0 0 10px hsl(var(--black-color-hsl), .25);

  overflow: auto;

  transform: scale(0.8);

  transition: opacity 300ms ease, visibility 300ms ease, transform 300ms ease, top 300ms ease;
}

._open-select-menu .input-element-select-menu {
  top: 110%;

  opacity: 1;
  visibility: visible;

  transform: scale(1);
}

.input-element-select-menu::-webkit-scrollbar {
  width: 10px;
}

.input-element-select-menu::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-color: hsl(var(--primary-yellow-color-hsl))
}

.input-element-select-menu-list {
  max-height: 140px;
}

.input-element-select-menu-list-item button {
  cursor: pointer;
  background-color: transparent;
  border: none;

  text-align: left;

  padding: 10px 15px;

  width: 100%;

  transition: background-color 150ms ease;
}

.input-element-select-menu-list-item button:focus {
  outline: none;

  background-color: hsl(var(--base-primary-yellow-color), 90%);
}

@media screen and (min-width: 992px) {
  .input-element-select-menu-list-item button:hover {
    background-color: hsl(var(--base-primary-yellow-color), 90%);
  }
}


.input-element-select-menu-list-item button:active {
  background-color: hsl(var(--base-primary-yellow-color), 85%);
}