@import './var.css';
@import './lib.css';
@import './components/footer.css';
@import './components/header.css';
@import './components/burger-menu.css';


body {
  --scrollbar-width: 17px;

  font-family: var(--primary-text-font-family);
  font-size: var(--primary-text-font-family);

  min-height: 100vh;

  overflow-x: hidden;
  /*overflow: hidden;*/
}

body._lock-scroll {
  padding-right: var(--scrollbar-width);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  height: 100%;

  min-height: inherit;

  display: flex;
  flex-direction: column;
}

.responsive-background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  min-width: 100vw;
  min-height: 100vh;

  background-color: hsl(var(--base-default-color), 10%);

  /*background-image: url('../assets/img/background-image.jpg');*/
  /*background-position: left -370px;*/
  /*background-position: left top;*/

  /*background-repeat: no-repeat;*/
}

.responsive-background-image img {
  max-width: none;
}

.responsive-background-image:before {
  content: '';

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: hsla(var(--black-color-hsl), .70);
}

.page-content {
  /*margin-top: 330px;*/
  /*margin-top: 100vh;*/

  display: flex;
  flex-direction: column;

  /*min-height: 100vh;*/

  background-color: hsl(var(--white-color-hsl));
}

.page-content__wrapper {
  padding: 70px 0;
}

._container {
  width: 100%;
  max-width: var(--container-max-width);

  margin: 0 auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

._section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

._section-title {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 15px;

  font-family: var(--primary-title-font-family);
  font-size: var(--primary-title-font-size);

  margin-bottom: 70px;
}

._section-title:after {
  content: '';

  display: inline-block;

  width: 300px;
  height: 3px;

  border-radius: 100px;

  background-color: hsl(var(--primary-yellow-color-hsl));
}

._yellow-button {
  color: hsl(var(--white-color-hsl));
  background-color: hsl(var(--primary-yellow-color-hsl));
  border: none;

  cursor: pointer;

  padding: 10px 25px;

  font-size: var(--secondary-text-font-size);

  border-radius: var(--primary-border-radius);

  transition: background-color 100ms ease;
}

._yellow-button:focus {
  outline: var(--primary-white-outline);

  background-color: hsl(var(--base-primary-yellow-color), 50%);
}

._yellow-button:active {
  background-color: hsl(var(--base-primary-yellow-color), 45%);
}

._white-button {
  color: hsl(var(--black-color-hsl));
  background-color: hsl(var(--white-color-hsl));
  border: none;

  cursor: pointer;

  padding: 10px 25px;

  border-radius: var(--primary-border-radius);

  transition: background-color 100ms ease;
}

._white-button:focus {
  outline: var(--primary-yellow-outline);

  background-color: hsl(var(--base-default-color), 95%);
}

._white-button:active {
  background-color: hsl(var(--base-default-color), 90%);
}

._transparent-text-button {
  cursor: pointer;
  border: none;
  background-color: transparent;

  padding: 10px 25px;

  border-radius: var(--primary-border-radius);

  font-size: var(--secondary-text-font-size);

  transition: background-color 200ms ease;
}

._transparent-text-button:focus {
  background-color: hsla(var(--primary-yellow-color-hsl), .25);
}

@media screen and (min-width: 992px) {
  ._transparent-text-button:hover {
    background-color: hsla(var(--primary-yellow-color-hsl), .25);
  }
}

._transparent-text-button:active {
  background-color: hsla(var(--primary-yellow-color-hsl), .6);
}