:root {
  --base-default-color: 0, 0%;
  --base-primary-yellow-color: 47, 77%;

  --white-color-hsl: var(--base-default-color), 100%;
  --black-color-hsl: var(--base-default-color), 0%;

  --primary-yellow-color-hsl: var(--base-primary-yellow-color), 60%;

  --primary-text-font-family: 'Nunito', sans-serif;
  --primary-title-font-family: 'Playfair Display', serif;
  --secondary-title-font-family: 'Cormorant Garamond', serif;
  --primary-text-font-size: 30px;
  --secondary-text-font-size: 25px;
  --primary-title-font-size: 64px;
  --secondary-title-font-size: 40px;

  --container-padding: 15px;
  --container-width: 1600px;
  --container-max-width: calc(var(--container-width) + var(--container-padding) * 2);

  --primary-border-radius: 10px;

  --primary-yellow-outline: 3px solid hsl(var(--primary-yellow-color-hsl));
  --primary-white-outline: 3px solid hsl(var(--white-color-hsl));
}